<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-button href="/addpoint">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
      <ion-button href="/polylines" color="warning">
        <ion-icon name="analytics" alt="Polylines" color="warning"></ion-icon>
      </ion-button>
      <ion-button href="/home">
        <ion-icon name="map"></ion-icon>
      </ion-button>
      <ion-button href="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button href="/profile">
        <ion-icon size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ground Cover Mapper - Transects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapId" style="width: 100%; height: 100%"></div>
</ion-content>
