<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-button href="/addpoint">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
      <ion-button href="/polylines">
        <ion-icon name="analytics" alt="Polylines"></ion-icon>
      </ion-button>
      <ion-button href="/home">
        <ion-icon name="map"></ion-icon>
      </ion-button>
      <ion-button href="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button href="/profile" color="warning">
        <ion-icon size="large" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ground Cover Mapper
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
<div class="ion-padding">


<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="https://cataas.com/cat" alt="">
    </div>
  </div>
</div>


<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">Gøeg Willson</h3>
    <h5 class="country">Nederland</h5>
    <h6 class="ranking">Active Maps: <ion-chip>
      <ion-label>3</ion-label>
      </ion-chip>
    </h6>
    <h6 class="ranking">Teams: <ion-chip>
      <ion-label>3</ion-label>
      </ion-chip>
    </h6>
  </div>
  <BR/>
  <ion-button expand="full" color="secondary">Assignments</ion-button>
  <ion-button expand="full" color="primary">Reports</ion-button>
</div>
  </div>
</ion-content>
