        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-buttons collapse="true" slot="end">
              <ion-button href="/addpoint">
                <ion-icon name="locate"></ion-icon>
              </ion-button>
              <ion-button href="/polylines">
                <ion-icon name="analytics" alt="Polylines"></ion-icon>
              </ion-button>
                <ion-button href="/home">
                  <ion-icon name="map"></ion-icon>
              </ion-button>
              <ion-button href="/settings" color="warning">
                <ion-icon name="settings-outline"></ion-icon>
              </ion-button>
              <ion-button href="/profile">
                <ion-icon size="large" name="person-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>
              Ground Cover Mapper - Transects
            </ion-title>
          </ion-toolbar>
        </ion-header>

<ion-content>
<ion-card >
  <ion-item><h2>Settings</h2></ion-item>
</ion-card>

<ion-item>
  <ion-label>Manager Controls</ion-label>
  <ion-toggle [(ngModel)]="ismanager" size="large"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Your Maps</ion-label>
  <ion-button >              <ion-badge color="success">
    44
  </ion-badge></ion-button>
</ion-item>
<ion-item>
  <ion-label>Your Team</ion-label>
  <ion-button >              <ion-badge color="success">
    3
  </ion-badge></ion-button>
</ion-item>
<ion-item>
  <ion-label>Schedule</ion-label>
  <ion-button >              <ion-badge color="success">
    Next event in 2 days
  </ion-badge></ion-button>
</ion-item>


<ion-item>
  <ion-label>Download Map Data</ion-label>
  <ion-button > 
    <ion-icon href="/" name="download" color="warning" size="large"></ion-icon>

  </ion-button>
</ion-item>

<ion-item>
  <my-select [(ngModel)]="whatever" [list]="whateverList" ngDefaultControl></my-select>
</ion-item>

</ion-content>
